.header {
  background-color: deepskyblue;
  color: darkblue;
  padding: 0.5rem;
}
.headerContainer {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  .headerTitle {
    padding-top: 0.3rem;
    font-weight: bold;
  }
  .headerAction {
    display: flex;
    align-items: center;
  }
}

.main {
  max-width: var(--max-width);
  margin: auto;
  > div {
    padding: 0.5rem;
  }
}

.controller {
  position: fixed;
  bottom: 0;
  width: 100%;
  > div {
    background-color: lightskyblue;
    max-width: var(--max-width);
    display: flex;
    margin: auto;
    padding: 0.5rem;
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
    justify-content: space-between;
    div {
      width: 4rem;
      height: 4rem;
      background-color: white;
      border-radius: 1.5rem;
      align-content: center;
      text-align: center;
    }
  }
}

.footer {
  background-color: #eee;
  padding: 1rem;
  color: #aaa;
  margin-bottom: calc(5rem + env(safe-area-inset-bottom));

  > div {
    max-width: var(--max-width);
    margin: auto;
  }
  h4 {
    color: #666;
    line-height: 1.5rem;
  }
}
